<a class="news-appearance" href="{{new.link}}" target="_blank">
    <div class="content">
        <h3>{{ new.title }}</h3>
        <div class="description">
            <blockquote>
                {{ new.description }}
            </blockquote>
        </div>
        <div class="link">
            <img src="/images/news/icons/{{new.icon}}">
            <p>{{ new.link }}</p>
        </div>
    </div>
    {% if new.image %}
    <div class="image" style='background-image: url("/images/news/covers/{{new.image}}")'></div>
    {% endif %}
</a>