<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/images/icon.png">

    <link rel="stylesheet" href="/style/appearances.css"/>
    <link rel="stylesheet" href="/style/global.css"/>

    <title>News Appearances | MAGMA, Associació per Promoure la Recerca Jove</title>
    <meta name="description"
          content="MAGMA, Associació per a Promoure la Recerca Jove is a Catalan non-profit organization."/>
    <meta name="og:description"
          content="MAGMA, Associació per a Promoure la Recerca Jove is a Catalan non-profit organization."/>
    <meta name="og:image" content="https://press.magmarecerca.org/images/news/headers/{{ page.banner }}"/>
</head>

<body>
{% include header.html %}
<div class="banner" style='background-image: url("/images/news/headers/{{ page.banner }}")'></div>
<div class="content">
    <h1>{{ page.edition }} Exporecerca Jove</h1>
    <hr/>
    <div class="appearances-list">
        {% assign news = site.news | reverse %}
        {% for new in news %}
            {% if new.edition == page.edition %}
                {% include newsBox.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>