<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="images/icon.png">

    <link rel="stylesheet" href="/style/appearances.css"/>

    <title>MAGMA, Associació per Promoure la Recerca Jove &ndash; News Appearances</title>
</head>

<body>
<div class="banner" style='background-image: url("/images/news/headers/{{ page.banner }}")'></div>
<div class="content">
    <h1>{{ page.edition }} Exporecerca Jove</h1>
    <hr/>
    <div class="appearances-list">
        {% assign news = site.news | reverse %}
        {% for new in news %}
            {% if new.edition == page.edition %}
                {% include newsBox.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>